<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logFileName</key>
			<defaultValue>ServerMain</defaultValue>
		</discriminator>

		<sift>
		    <appender name="FILE-${logFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${logging.path}/${logFileName}.log</file> 
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %-5level %logger{36} - %msg%n</Pattern>
				</encoder>

				<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>${logging.path}/${logFileName}.%i.log.zip</FileNamePattern> <!-- logFileName contains ${app.home}/LOG/ -->
					<MinIndex>1</MinIndex>
					<MaxIndex>10</MaxIndex>
				</rollingPolicy>

				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>10MB</MaxFileSize>
				</triggeringPolicy>
		    </appender>
 		</sift>
	</appender>

	<!-- logger levels: TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF -->
	<logger name="org.springframework.integration" level="INFO" />
	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.springframework.cache" level="INFO" />
	<logger name="org.springframework.cache.annotation" level="INFO" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.data.jpa" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springframework.web.socket" level="INFO" />
	<logger name="org.springframework.messaging.simp" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="me.d2o" level="INFO" />
	<logger name="org.apache.commons" level="ERROR" />

	<logger name="com.sambi.app" value="debug" />

	<root level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>